body, html {
    color: white;
    background: #1e2021;
    padding: 0;
    margin: 0;
    font-family: "Heebo", sans-serif;
    height: 100%;
    width: 100%;
}

.img-container{
    margin: auto;
    width: 250px;
    height: 250px;
    position: center;
    overflow: hidden;
    border-radius: 50%;
}