@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-caption{
    top: 0;
    text-align: left;
    padding: 8% 40% 8% 0;
    bottom: auto;
}

.carousel-caption h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 5%;
}

